#div1{
    display: block;
    background-color: blue;
}
#div2{
  display: none;
}
#span1{
    display: inline;
    background-color: coral;
}
#span2{
    display: block;
    background-color: yellow;
}