#block1{
padding-left: 30px;
padding-right: 20px;
padding-bottom: 25px;
padding-top: 35px;
background-color: tomato;
}
#block2{
padding: 10px;
background-color:aqua;
}
#block3{
padding: 20px;
background-color:blanchedalmond;
}
