#books{
    width: 80vw;
    height: 50vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 20px;
    background-color: lightblue;
}
#movies{
    width: 80vw;
    height: 50vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 20px;
    background-color: lightgrey;
}

#foods{
    width: 80vw;
    height: 50vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 20px;
    background-color: lightgreen;
}
h1{
    text-align: center;
    font-size: 24px;
}
p{
    text-align: center;
    font-size: 16px;
}